{% extends 'base.html' %}

{% block title %}
홈
{% endblock %}
{% block content %}
<div class="container">
    <div class="wrap">
        <article>
            <details>
                <summary>상품 옵션들</summary>
                <ul>
                    <li><a href="/product-create/">상품 등록</a></li>
                    <li><a href="/product-list/">상품 리스트</a></li>
                    <li><a href="/inbound-create/">상품 입고</a></li>
                    <li><a href="/inventory/">창고</a></li>
                </ul>
            </details>
        </article>
    </div>
</div>
{% endblock %}