{% extends 'base.html' %}

{% block title %}
상품 성공
{% endblock %}
{% block content %}
<div class="container">
    <div class="wrap">
        <article>
            <div>
                <h3>
                    성공적으로 등록이 되었습니다.
                </h3>
                <a href="/product-create/" class="btn btn-warning">상품 등록</a>
                <a href="/product-list/" class="btn btn-success">상품 리스트</a>
                <a href="/inventory/" class="btn btn-dark">창고</a>
            </div>
        </article>
    </div>
</div>
{% endblock %}